.btn {
  background: none;
  cursor: pointer;
}

.single-cocktail {
  width: 75%;
  color: #01204e;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-container {
  margin: 1rem;
  width: 100%;
}

.img-container {
  height: 10rem;
  border-radius: 5px;
  position: absolute;
  left: 0rem;
  top: 0rem;
}

.favorite-btn {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
}

.ingredients-list {
  list-style-type: none;
}

.name {
  color: #01204e;
  font-weight: 600;
  margin-right: 0.5rem;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: none;
}

.mesage-container {
  width: 100%;
}

.outter-card-border {
  background-color: #01204e;
  position: relative;
  max-width: 60%;
  min-width: 60%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.middle-card-border {
  background-color: rgba(49, 124, 158);
  min-height: 15rem;
  width: 90%;
  padding: 2rem;
}

.inner-card-border {
  min-height: 10rem;
  background-color: rgba(93, 163, 190, 1);
  color: #f6dcac;
  display: flex;
  justify-content: flex-end;
  align-content: center;
  width: 100%;
  position: relative;
  padding: 1rem;
}

.ingredients-list {
  margin: 0.5rem;
}

.span {
  font-weight: 900;
}

.name-button-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 1rem;
}

@media screen and (max-width: 1080px) {
  .outter-card-border {
    max-width: 80%;
  }
  .single-cocktail {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .outter-card-border {
    max-width: 80%;
    padding: 1rem;
  }
  .inner-card-border {
    justify-content: center;
    max-width: 100;
    padding-top: 2.5rem;
  }
  .middle-card-border {
    padding: 1rem;
  }
  .single-cocktail {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .ingredients-list {
    text-align: center;
    padding: 0;
    list-style: none;
  }

  .img-container {
    position: static;
    max-width: 95%;
    height: auto;
  }
}
