.App {
  text-align: center;
  height: 100%;
  box-sizing: border-box;
}

.main {
  /* background-color: antiquewhite; */
  height: 90vh;
  /* padding: 1rrem; */
  overflow-y: hidden;

  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
}

.img-wrapper {
  /* background-color: antiquewhite; */
  height: 90%;
  width: 100%;
  /* border-radius: 5px; */
  /* padding: 1rem; */
  box-shadow: inset 0 0 10px rgba(246,220,172, 0.3);
  background-image: url('../../lorenzo-rui-IJu2BcIdx8I-unsplash.jpg');
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: -3rem center;
  overflow-y: hidden;
  position: absolute;
  z-index: -1;
}

.background-color{
  background-color: rgb(246,220,172, 0.3);
  height: 90%;
  width: 100%;
  z-index: -1;
  position: absolute;
  overflow-y: hidden;
  right: 0rem;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
