.App {
  text-align: center;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  overflow-y: hidden;
}

.main {
  min-height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: hidden;
  width: 100%;
}

.concentric-rings {
  min-height: 90%;
  width: 95%;
  left: -1rem;
  bottom: 0rem;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  position: absolute;
  z-index: -1;
  overflow-y: hidden;
}

.ring {
  bottom: 0rem;
  position: absolute;
  border-radius: 20px;
}

.ring1 {
  min-height: 60%;
  min-width: 60%;
  background-color: #ff5733;
}

.ring2 {
  min-height: 80%;
  min-width: 80%;
  background-color: #faa968;
}

.ring3 {
  min-height: 100%;
  min-width: 100%;
  background-color: #f7cd99;
}

.background-color {
  /* background-color: rgb(246, 220, 172, 0.5); */
  min-height: 90%;
  width: 100%;
  z-index: -1;
  position: absolute;
  overflow-y: hidden;
  right: 0rem;
}

.app-content{
  position: relative;
  z-index: 1;
  width: 100%;
}
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
