@font-face {
  font-family: 'airstream';
  src: url('../../Assets/Fonts/air_americana/ttf/AirAmericanaDEMO-Regular.ttf')
    format('woff2');
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(49, 124, 158);
  width: 100%;
  height: 12vh;
}

.btn-wrapper,
.home-fave-btn-wrapper {
  display: flex;
  align-items: center;
}

.home-btn,
.see-faves-btn,
.search-btn {
  display: flex;
  color: rgb(246, 220, 172);
  margin-left: 1rem;
  min-height: 4rem;
  width: 8rem;
  text-decoration: none;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}

.home-btn:hover,
.see-faves-btn:hover,
.search-btn:hover {
  background-color: rgba(1, 32, 78, 0.95);
  cursor: pointer;
}

.active {
  text-decoration: underline rgba(1, 32, 78, 0.9) 5px;
  cursor: default;
}

.cocktial-container {
  display: flex;
  align-items: end;
  color: rgb(246, 220, 172);
  height: 100%;
}

.title {
  font-family: 'airstream';
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3rem;
  margin: 1rem;
}

@media screen and (max-width: 1080px) {
  .nav-bar {
    display: flex;
  }
  .title {
    font-size: 2rem;
  }
  .cocktail-svg {
    height: 70%;
  }
  .home-btn {
    width: 5rem;
  }

  .see-faves-btn {
    width: 7rem;
    margin-right: 0.5rem;
  }
  .cocktial-container {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 600px) {
  .cocktail-svg {
    height: 40%;
  }

  .title {
    font-size: 1rem;
    text-wrap: wrap;
  }

  .home-fave-btn-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 5rem;
    margin-right: 0.5rem;
  }

  .btn-wrapper {
    width: 75%;
    justify-content: space-between;
  }

  .home-btn,
  .see-faves-btn {
    width: 5.5rem;
    min-height: 2rem;
    font-size: 0.8rem;
    margin-right: 0.5rem;
  }
  .cocktial-container {
    width: 5rem;
  }

  .nav-bar{
    justify-content: space-between;
  }
}
