@font-face {
  font-family: 'life-saver';
  src: url('../../Assets/Fonts/life-savers/LifeSavers-Regular.ttf') format('woff2'), /* Modern browsers */
}

.nav-bar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  background-color: rgba(49, 124, 158);
  width: 100%;
  height: 12vh;
}

.btn-wrapper{
  display: flex;
  /* flex-direction: column; */
}

.home-btn,
.see-faves-btn {
  display: flex;
  color: rgb(246,220,172); 
  min-height: 4rem;
  width: 9rem;
  text-decoration: none;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: 'life-saver';
}

.home-btn:hover,
.see-faves-btn:hover {
  background-color: rgba(1,32,78, 0.95);
  cursor: pointer;
}

.active {
  text-decoration: underline rgba(1,32,78, 0.9) 5px;
  cursor: default;
}

.cocktial-container {
  left: 1rem;
}

.cocktail-svg{
 height: 4rem;
}