.form,
.input {
  height: 3rem;
}

.input-btn {
  height: 3rem;
  margin-left: 1rem;
  width: 5rem;
  border-radius: 5px;
  background-color: rgb(246, 220, 172);
}

.user-message{
  position: absolute;
  top:7rem;
}

.input {
  width: 12rem;
  border-radius: 5px;
}

.input-btn:hover {
  background-color: rgba(93, 163, 190, 1);
  cursor: pointer;
  color: rgba(1, 32, 78, 0.95);
}

@media screen and (max-width: 1080px) {
.input{
  width:10rem;
}
}

@media screen and (max-width: 760px) {

  .input{
    width:7rem;
  }
  .input,
  .input-btn{
    height: 2rem;
  }
  .input-btn{
width: 4rem;
margin-left: 0rem;;
  }
}